brevo-n8n-workflow.json
{
  "name": "Brevo Email Verification - Production Ready",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-verification-email-brevo",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-email-verification",
      "name": "Webhook - Email Verification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "brevo-email-verification"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "recipientEmail",
              "value": "={{ $json.email }}"
            },
            {
              "name": "verificationCode",
              "value": "={{ $json.code }}"
            },
            {
              "name": "emailSubject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "emailHtml",
              "value": "={{ $json.htmlContent }}"
            },
            {
              "name": "senderEmail", 
              "value": "royadmon23@gmail.com"
            },
            {
              "name": "senderName",
              "value": "אדמון סוכנות לביטוח"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-email-data",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{ $env.BREVO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({\n  sender: {\n    name: $json.senderName,\n    email: $json.senderEmail\n  },\n  to: [\n    {\n      email: $json.recipientEmail\n    }\n  ],\n  subject: $json.emailSubject,\n  htmlContent: $json.emailHtml\n}) }}",
        "options": {
          "timeout": 30000,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "send-email-brevo",
      "name": "Send Email via Brevo API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Email sent successfully via Brevo\",\n  \"messageId\": \"{{ $('Send Email via Brevo API').item.json.messageId || ('brevo-' + Date.now()) }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"recipient\": \"{{ $('Prepare Email Data').item.json.recipientEmail }}\",\n  \"code\": \"{{ $('Prepare Email Data').item.json.verificationCode }}\"\n}",
        "options": {}
      },
      "id": "return-success",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Failed to send email via Brevo\",\n  \"message\": \"{{ $('Send Email via Brevo API').item.json.message || $('Send Email via Brevo API').item.json.error || 'Unknown error occurred' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"recipient\": \"{{ $('Prepare Email Data').item.json.recipientEmail }}\",\n  \"statusCode\": \"{{ $('Send Email via Brevo API').item.json.statusCode || 500 }}\"\n}",
        "options": {}
      },
      "id": "return-error",
      "name": "Return Error Response", 
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Email Verification": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send Email via Brevo API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Brevo API": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-14T20:30:00.000Z",
      "updatedAt": "2024-12-14T20:30:00.000Z", 
      "id": "brevo-email-verification",
      "name": "Brevo Email"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-14T20:30:00.000Z",
  "versionId": "production-brevo-v1.0-fixed"
} 