n8n-workflow-example.json
{
  "name": "אדמון ביטוח - מעקב לידים חכם",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admon-insurance-leads",
        "options": {}
      },
      "name": "Webhook - קליטת נתונים",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "your-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"action\"]}}",
              "operation": "equal",
              "value2": "email_verification_sent"
            }
          ]
        }
      },
      "name": "בדיקה - אימות מייל?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"action\"]}}",
              "operation": "equal",
              "value2": "form_completed"
            }
          ]
        }
      },
      "name": "בדיקה - טופס הושלם?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event_type",
              "value": "אימות מייל"
            },
            {
              "name": "customer_email",
              "value": "={{$json[\"email\"]}}"
            },
            {
              "name": "verification_code",
              "value": "={{$json[\"code\"]}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json[\"timestamp\"]}}"
            },
            {
              "name": "formatted_time",
              "value": "={{new Date($json[\"timestamp\"]).toLocaleString('he-IL')}}"
            }
          ]
        },
        "options": {}
      },
      "name": "עיבוד נתוני אימות",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 150]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event_type",
              "value": "ליד מושלם"
            },
            {
              "name": "customer_name",
              "value": "={{$json[\"firstName\"]}} {{$json[\"lastName\"]}}"
            },
            {
              "name": "customer_email",
              "value": "={{$json[\"email\"]}}"
            },
            {
              "name": "customer_phone",
              "value": "={{$json[\"phoneNumber\"]}}"
            },
            {
              "name": "product_type",
              "value": "={{$json[\"productType\"]}}"
            },
            {
              "name": "property_city",
              "value": "={{$json[\"city\"]}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json[\"timestamp\"]}}"
            },
            {
              "name": "formatted_time",
              "value": "={{new Date($json[\"timestamp\"]).toLocaleString('he-IL')}}"
            },
            {
              "name": "lead_value",
              "value": "גבוה"
            }
          ]
        },
        "options": {}
      },
      "name": "עיבוד נתוני ליד",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 350]
    },
    {
      "parameters": {
        "jsCode": "// לוגיקה לשמירת נתוני אימות מייל\nconst data = $input.all();\n\nfor (const item of data) {\n  console.log('🔐 קוד אימות נשלח:', {\n    email: item.json.customer_email,\n    code: item.json.verification_code,\n    time: item.json.formatted_time\n  });\n  \n  // כאן אפשר להוסיף לוגיקה לשמירה במסד נתונים\n  // או שליחה לשירותים חיצוניים\n}\n\nreturn $input.all();"
      },
      "name": "לוגיקת אימות מייל",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 150]
    },
    {
      "parameters": {
        "jsCode": "// לוגיקה לעיבוד ליד מושלם\nconst data = $input.all();\n\nfor (const item of data) {\n  console.log('🎯 ליד חדש התקבל:', {\n    name: item.json.customer_name,\n    email: item.json.customer_email,\n    phone: item.json.customer_phone,\n    product: item.json.product_type,\n    city: item.json.property_city,\n    time: item.json.formatted_time,\n    value: item.json.lead_value\n  });\n  \n  // כאן אפשר להוסיף:\n  // - שליחה ל-CRM\n  // - שמירה במסד נתונים\n  // - התראות לצוות מכירות\n  // - ניקוד ליד (lead scoring)\n}\n\nreturn $input.all();"
      },
      "name": "לוגיקת עיבוד ליד",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 350]
    },
    {
      "parameters": {
        "url": "={{$json[\"webhook_response_url\"] || \"https://httpbin.org/post\"}}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "אימות מייל עובד בהצלחה"
            },
            {
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "name": "אישור אימות מייל",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 150]
    },
    {
      "parameters": {
        "url": "={{$json[\"webhook_response_url\"] || \"https://httpbin.org/post\"}}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "ליד התקבל בהצלחה"
            },
            {
              "name": "lead_id",
              "value": "={{$now}}"
            },
            {
              "name": "priority",
              "value": "high"
            }
          ]
        }
      },
      "name": "אישור קבלת ליד",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 350]
    }
  ],
  "connections": {
    "Webhook - קליטת נתונים": {
      "main": [
        [
          {
            "node": "בדיקה - אימות מייל?",
            "type": "main",
            "index": 0
          },
          {
            "node": "בדיקה - טופס הושלם?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "בדיקה - אימות מייל?": {
      "main": [
        [
          {
            "node": "עיבוד נתוני אימות",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "בדיקה - טופס הושלם?": {
      "main": [
        [
          {
            "node": "עיבוד נתוני ליד",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "עיבוד נתוני אימות": {
      "main": [
        [
          {
            "node": "לוגיקת אימות מייל",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "עיבוד נתוני ליד": {
      "main": [
        [
          {
            "node": "לוגיקת עיבוד ליד",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "לוגיקת אימות מייל": {
      "main": [
        [
          {
            "node": "אישור אימות מייל",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "לוגיקת עיבוד ליד": {
      "main": [
        [
          {
            "node": "אישור קבלת ליד",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-08T16:00:00.000Z",
  "versionId": "1"
} 